<app-nav-bar></app-nav-bar>
<div class="hand-surgery">
  <div class="banner-part">
    <div class="banner-right">
      <img src="/imgs/banner-img.png" alt="">
      <div class="contact-form">
        <app-contact-form></app-contact-form>
      </div>
    </div>

    <div class="banner-left">
      <div class="banner-heading">Hand Surgeon <span>in Bangalore - Malleshwaram</span></div>
      <div class="banner-para">Expert diagnosis and advanced hand surgery care by
        <span>Dr. Darshan Kumar A.</span> Jain, Orthopedic Hand & Upper-Limb Specialist.
      </div>

      <div class="banner-btn">
        <button (click)="openPopup()">book appointment now ></button>
      </div>

      <div class="banenr-content">
        <div class="banner-sub-heading">What Is Hand Surgery?</div>
        <div class="banner-sub-para">
          <div> Hand surgery is a specialized branch of orthopedics focused on treating conditions affecting the hand,
            wrist, fingers, and forearm. It addresses problems involving bones, joints, tendons, ligaments, nerves, and
            soft tissues that impact hand strength, movement, and coordination.</div>

          <div>The goal of hand surgery is to relieve pain, restore function, and improve hand mobility using the safest
            and most effective treatment approach. Depending on the condition, treatment may include fracture fixation,
            tendon repair, nerve surgery, or corrective procedures using advanced microsurgical techniques.</div>

          <div>Not all hand conditions require surgery. A thorough evaluation at a dedicated hand orthopedic clinic
            helps determine whether conservative treatment or surgical intervention is appropriate.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="symptoms-part">
    <div class="heading">Symptoms - <span>When to Visit a Hand Surgeon?</span></div>
    <div class="symptoms-para">You should consult <span>a hand surgeo</span>n if you experience:</div>
    <div class="symptoms-content">
      <div class="content-left">
        <ul>
          <li class="list-1">Persistent hand or wrist pain</li>
          <li class="list-2">Swelling or deformity after injury</li>
          <li class="list-3">Difficulty moving fingers or gripping objects</li>
        </ul>
      </div>

      <div class="content-center">
        <video autoplay muted loop playsinline>
          <source src=" /imgs/symptoms-video.mp4">
        </video>

        <ul>
          <li class="list-4">Numbness, tingling or loss of sensation</li>
        </ul>
      </div>

      <div class="content-right">
        <ul>
          <li class="list-5">Pain or stiffness affecting daily activities or work</li>
          <li class="list-6">Hand bone fracture or injury not healing properly</li>
          <li class="list-7">Weakness of the hand or fingers</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="recommended-part" #triggerSection>
    <div class="recommended-left">
      <div class="heading recommendedheading">Hand Surgery <span>Recommended</span> For?</div>
      <div class="recommended-btn">
        <button (click)="openPopup()">contact us ></button>
      </div>
    </div>

    <div class="recommended-right">
      <div class="recommended-heading">Hand surgery may be advised for patients who:</div>
      <ul>
        <li>Have hand bone fractures requiring surgical stabilization</li>
        <li>Experience tendon or ligament injuries</li>
        <li>Have nerve compression or nerve damage in the hand</li>
        <li>Suffer from chronic hand pain or stiffness</li>
        <li>Have hand injuries due to accidents, falls, or sports trauma</li>
        <li>Require precise hand function for professional or daily activities</li>
      </ul>
    </div>
  </div>

  <div class="doctor-part">
    <div class="doc-content">
      <div class="doc-left">
        <div class="doc-name">Dr. Darshan Kumar A. Jain</div>
        <div class="doc-dept">Orthopedic Hand & Upper-Limb Surgery Specialist</div>
        <div class="doc-para">
          <div class="">Dr. Darshan Kumar A. Jain is a highly experienced orthopedic surgeon specializing in hand
            surgery,
            wrist conditions, peripheral nerve injuries and upper-limb disorders. He is known for managing both simple
            and
            complex hand conditions with a focus on accuracy, safety, and functional recovery.</div>
          <div class="">His treatment philosophy emphasizes correct diagnosis, patient education and recommending
            surgery
            only when clearly required. Patients appreciate his ethical approach, clear explanations, and long-term
            recovery-oriented care at Sapiens Clinic, a trusted hand orthopedic clinic in Malleshwaram, Bangalore,
            Karnataka.</div>
        </div>

        <div class="doc-center">
          <div class="doc-highlight">Clinical Highlights</div>
          <img src="/imgs/line-img.png" alt="">
        </div>



        <ul class="doc-list">
          <li>Expertise in fracture fixation, tendon repair and microsurgery</li>
          <li>Recognized for ethical, patient-focused treatment</li>
        </ul>

        <div class="doc-btn">
          <button (click)="openPopup()">book appointment now ></button>
        </div>
      </div>

      <div class="doc-right">
        <!-- <div class="doc-img"></div> -->
        <img src="/imgs/doc-img.png" alt="" class="doc-img">
        <div class="years"><span>15+ years</span> of experience in orthopedic and hand surgery</div>
        <div class="patients"><span>5000+</span> patients treated across hand, wrist and upper-limb conditions</div>
      </div>
    </div>
  </div>

  <div class="perfom-part">
    <div class="heading"><span>Hand Surgeries</span> We Perform</div>
    <div class="">
      <div class="perform-cards">
        <div class="perfom-card" *ngFor="let item of perform">
          <img [src]="item.img" alt="">
          <div class="perform-content">
            <div class="perform-card-heading">{{item.heading}}</div>
            <div class="perform-card-para">{{item.para}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="procedure-part">
    <div class="heading"><span>Hand Surgery</span> - Procedure</div>
    <div class="procedure-sub-heading">How the Treatment Is Planned & Performed</div>
    <div class="video-part">
      <video autoplay muted loop playsinline>
        <source src="/imgs/procedure-video.mp4">
      </video>
      <div class="video-content">
        <div class="video-heading"> Clinical Evaluation</div>
        <div class="video-para">A detailed consultation, physical examination, and diagnostic tests such as X-rays,
          scans, or nerve studies are performed to assess the hand condition accurately.</div>
      </div>
    </div>
  </div>

  <div class="sings-part">
    <div class="heading">Understand the Signs. <span>Plan the Right Treatment for Hand</span></div>
    <div class="sings-cards">
      <div class="sings-card-1">
        <div class="card-heading">Common Conditions Treated by a Hand Surgeon</div>
        <div class="card-para">
          <ul>
            <li>Hand bone fractures</li>
            <li>Tendon injuries</li>
            <li>Nerve compression syndromes</li>
            <li>Traumatic hand injuries</li>
            <li>Stiffness or deformity of fingers</li>
          </ul>
        </div>
      </div>

      <div class="sings-card-2">
        <div class="card-heading">Stiffness or deformity of fingers</div>
        <div class="card-para">
          <ul>
            <li>Relief from pain and functional limitation</li>
            <li>Improved hand strength and mobility</li>
            <li>Precise treatment using advanced techniques</li>
            <li>Structured recovery with rehabilitation support</li>
          </ul>
        </div>
      </div>

      <div class="sings-card-3">
        <div class="card-heading">How Hand Surgery Is Performed?</div>
        <div class="card-para">Hand surgery is carefully planned based on the type and severity of the condition. The
          procedure focuses on restoring normal anatomy while preserving surrounding tissues to support safe healing and
          long-term hand function.</div>
      </div>
    </div>
  </div>

  <div class="why-choose-section">

    <div class="choose-header">
      <div class="choose-heading">Why Choose</div>
      <div class="choose-sub-heading">Sapiens Clinic?</div>
    </div>
    <div class="choose-part">
      <div class="choose-img">
        <img src="/imgs/choose-img.png" alt="">
      </div>
      <div class="choose-list">
        <ol>
          <li>
            <div class="list-heading">Ethical Treatment Approach</div>
            <div class="list-para">Surgery is recommended only when clinically necessary.
            </div>
          </li>
          <li>
            <div class="list-heading">Thorough Evaluation</div>
            <div class="list-para">Each hand condition is carefully assessed before treatment.</div>
          </li>
          <li>
            <div class="list-heading">Each hand condition is carefully assessed before treatment.</div>
            <div class="list-para">Dr. Darshan Kumar A. Jain provides precision-based care for a wide range of hand
              conditions.</div>
          </li>
          <li>
            <div class="list-heading">Continuity of Care</div>
            <div class="list-para">Patients receive consistent support from diagnosis through recovery at our clinic in
              Malleshwaram, Bangalore, Karnataka.</div>
          </li>
        </ol>
      </div>
    </div>
  </div>

 <div class="call-back-form">
   <app-call-back-form></app-call-back-form>
 </div>

  <app-visit-us></app-visit-us>
  <div class="faqs-part" id="faqs">
    <div class="faqs">
      <div class="faq-item" *ngFor="let faq of faqs; let i = index">
        <div class="faq-question" (click)="toggleFAQ(i)" [class.active]="activeIndex === i">
          <div class="step-col">
            <div class="step-number" [class.active]="activeIndex === i">
              {{ (i + 1) < 10 ? '0' + (i + 1) : (i + 1) }} </div>
            </div>
            <span class="q-text">{{ faq.question }}</span>

            <span class="icon" [class.active]="activeIndex === i">
              <span class="line"></span>
              <span class="line"></span>
            </span>

          </div>

          <div class="faq-answer" [class.open]="activeIndex === i">
            {{ faq.answer }}
          </div>

        </div>
      </div>

      <!-- Round FAQ Badge -->
      <div class="faq-round">
        <!-- <div class="faq-round-1">
          <div class="faq-round-2">
            <div class="faq-name">FAQs</div>
          </div>
        </div> -->
        <img src="/imgs/faq-img.png" alt="">
      </div>
    </div>

    <div class="floating-contact" (click)="openPopup()" *ngIf="showFloatingIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <path
            d="M4.5 10c0-3.771 0-5.657 1.172-6.828S8.729 2 12.5 2H14c3.771 0 5.657 0 6.828 1.172S22 6.229 22 10v4c0 3.771 0 5.657-1.172 6.828S17.771 22 14 22h-1.5c-3.771 0-5.657 0-6.828-1.172S4.5 17.771 4.5 14z" />
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M4.5 6H2m2.5 6H2m2.5 6H2m13.275-9.507a2 2 0 1 1-4 0a2 2 0 0 1 4 0M9.32 15.716c1.058-1.63 2.739-2.24 3.955-2.239s2.847.61 3.906 2.24a.33.33 0 0 1 .025.344c-.247.439-1.016 1.31-1.57 1.369c-.638.067-2.307.077-2.36.077s-1.773-.01-2.41-.077c-.556-.06-1.324-.93-1.572-1.37c-.061-.109-.043-.238.026-.344" />
        </g>
      </svg>
    </div>

    <div class="popup-overlay" *ngIf="isPopupOpen">
      <div class="popup-container">
        <div class="popup-header">
          <span class="close-btn" (click)="closePopup()">✕</span>
        </div>
        <app-popup-form></app-popup-form>
      </div>
    </div>

    <div class="chat-message-card" *ngIf="showMessageCard" [class.fade-out]="hideMessageAnimation">

      <!-- <div class="msg-title">Namaste! 🙏</div> -->
      <div class="msg-text">Book An Appointment</div>

    </div>

    <app-footer (bookClick)="openPopup()"></app-footer>
  </div>